<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Swati.</h1>
      <h3 class="section-subheading">I'm a design-oriented, detail-focused Software Engineer with a passion for weaving code spells and bringing projects to life with fervor</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm currently working as a Salesforce Technical Lead</strong> sharing my expertise in Financial Services, Insurance and Marketing Cloud. With seven years of dedicated experience in Salesforce development, I have honed my expertise in delivering innovative and scalable solutions. Proficient in Apex, Lightning Web Components, and integrations, I have successfully led the design and implementation of complex Salesforce architectures. With a focus on enhancing user experiences and streamlining processes, I excel in translating complex business requirements into efficient and scalable Salesforce applications.</p>
          <p class="about-text">I am deeply committed to refining my craft by continually exploring innovative methods to deliver seamless user experiences through clean, efficient, and scalable code. For me, work embodies an ongoing journey of learning, and I actively seek collaborations with individuals who are eager to impart their wisdom as much as I am to absorb it. Ultimately, my utmost aspiration is to collaboratively craft beauty alongside those who inspire and encourage my growth.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen,</strong> I'm probably Traveling, Dancing, or helping the people to the least I can.</p>
        </div>
      </div>
    </div>
  </div>
</section>
