<section id="footer" class="section">
  <div class="section-wrapper">
    <ul class="soc">
      {% for link in site.social %}
      <li class="soc-item"><a href="{{link.url}}" target="_blank" class="icon" title="{{link.title}}">
          <img src="img/icons/{{link.title}}.svg" alt="{{link.title}}"></a></li>
      {% endfor %}

      <!---- Adding to go top page ---->
      <div class="page-scroll">
        <a id="to-top" class="page-scroll" href="#page-top">
          <img id="rocket" src="img/icons/rocket12.png">
        </a>
        <p id="to-top-copy" style="opacity: 100;">Beam me up, Scotty!</p>
      </div>

      <!--- Old Portfolio Links-->
      <!--- Added Old Project Portfolio -->
      <button id="oldButton" class="portbutton">
        <img loading="lazy" width="100" class="imgport" height="86" decoding="async" data-nimg="1"
          style="color:transparent"
          srcset="https://brittanychiang.com//_next/image?url=%2Fimages%2Ftardis%2Frotate.gif&amp;w=128&amp;q=75 1x, https://brittanychiang.com//_next/image?url=%2Fimages%2Ftardis%2Frotate.gif&amp;w=256&amp;q=75 2x"
          src="https://brittanychiang.com//_next/image?url=%2Fimages%2Ftardis%2Frotate.gif&amp;w=256&amp;q=75">
      </button>

      <!-- The Modal -->
      <div id="oldPortfolioModal" class="oldmodal">
        <!-- Modal content -->
        <div class="oldmodal-content">
          <span class="oldclose">&times;</span>
          <circle></circle>
          <circle></circle>
          <circle></circle>
          <circle></circle>
          <circle></circle>
          <div style="perspective: 400px;">
            <div class="star-wars-skew">
              <h2 id="radix-:R4l6H1:"
                class="mx-auto mb-12 max-w-xs text-center text-2xl font-semibold leading-tight tracking-tight text-slate-700 sm:text-3xl lg:max-w-md lg:text-4xl">
                Looking for a different site? Go back in time...</h2>
                <div class="flex justify-center">
                  <ul class="inline-grid grid-cols-1 gap-2 md:grid-cols-2"
                    aria-label="Previous iterations of brittanychiang.com">
                    <li><a class="group relative block transition-all" href="https://v1.brittanychiang.com"
                        aria-label="brittanychiang.com version 1"><img alt="Screenshot of brittanychiang.com version 1"
                          loading="lazy" width="180" height="48" decoding="async" data-nimg="1"
                          class="mx-auto rounded border-2 border-zinc-900/30 drop-shadow-md group-hover:drop-shadow-xl"
                          srcset="/img/portfolios/Portfolio-v1.jpg 1x, /img/portfolios/Portfolio-v1.jpg 2x"
                          src="/img/portfolios/Portfolio-v1.jpg" style="color: transparent;">
                        <div
                          class="absolute left-0 top-0 hidden h-full w-full items-center justify-center rounded border-4 border-teal-400/0 bg-zinc-900/30 align-middle opacity-0 backdrop-blur-sm transition-opacity group-hover:opacity-100 group-focus-visible:opacity-100 lg:flex">
                          <h3 class="not-sr-only text-xl font-semibold text-white">v1</h3>
                        </div>
                      </a></li>
                    <li><a class="group relative block transition-all" href="https://v2.brittanychiang.com"
                        aria-label="brittanychiang.com version 2"><img alt="Screenshot of brittanychiang.com version 2"
                          loading="lazy" width="180" height="48" decoding="async" data-nimg="1"
                          class="mx-auto rounded border-2 border-zinc-900/30 drop-shadow-md group-hover:drop-shadow-xl"
                          srcset="/img/portfolios/Portfolio-v2.jpg 1x, /img/portfolios/Portfolio-v2.jpg 2x"
                          src="/img/portfolios/Portfolio-v2.jpg" style="color: transparent;">
                        <div
                          class="absolute left-0 top-0 hidden h-full w-full items-center justify-center rounded border-4 border-teal-400/0 bg-zinc-900/30 align-middle opacity-0 backdrop-blur-sm transition-opacity group-hover:opacity-100 group-focus-visible:opacity-100 lg:flex">
                          <h3 class="not-sr-only text-xl font-semibold text-white">v2</h3>
                        </div>
                      </a></li>
                    <li><a class="group relative block transition-all" href="https://v3.brittanychiang.com"
                        aria-label="brittanychiang.com version 3"><img alt="Screenshot of brittanychiang.com version 3"
                          loading="lazy" width="180" height="48" decoding="async" data-nimg="1"
                          class="mx-auto rounded border-2 border-zinc-900/30 drop-shadow-md group-hover:drop-shadow-xl"
                          srcset="/img/portfolios/Portfolio-v3.jpg 1x, /img/portfolios/Portfolio-v3.jpg 2x"
                          src="/img/portfolios/Portfolio-v3.jpg" style="color: transparent;">
                        <div
                          class="absolute left-0 top-0 hidden h-full w-full items-center justify-center rounded border-4 border-teal-400/0 bg-zinc-900/30 align-middle opacity-0 backdrop-blur-sm transition-opacity group-hover:opacity-100 group-focus-visible:opacity-100 lg:flex">
                          <h3 class="not-sr-only text-xl font-semibold text-white">v3</h3>
                        </div>
                      </a></li>
                    <li><a class="group relative block transition-all" href="https://v4.brittanychiang.com"
                        aria-label="brittanychiang.com version 4"><img alt="Screenshot of brittanychiang.com version 4"
                          loading="lazy" width="180" height="48" decoding="async" data-nimg="1"
                          class="mx-auto rounded border-2 border-zinc-900/30 drop-shadow-md group-hover:drop-shadow-xl"
                          srcset="/img/portfolios/Portfolio-v4.jpg 1x, /img/portfolios/Portfolio-v4.jpg 2x"
                          src="/img/portfolios/Portfolio-v4.jpg" style="color: transparent;">
                        <div
                          class="absolute left-0 top-0 hidden h-full w-full items-center justify-center rounded border-4 border-teal-400/0 bg-zinc-900/30 align-middle opacity-0 backdrop-blur-sm transition-opacity group-hover:opacity-100 group-focus-visible:opacity-100 lg:flex">
                          <h3 class="not-sr-only text-xl font-semibold text-white">v4</h3>
                        </div>
                      </a></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!---- Copyright Line -->
      <div class="copyright-wrapper center">
        <p>Thank you for checking out my Portfolio.</p>
        <p>Swati Tiwari 2024</p>
      </div>

    </ul>
  </div>
</section>