<!-- Section: Services (Passions) -->
        <section id="services" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>What I Do</h2>
                        <div class="spacer-10"></div>
                        <div class="col-md-4 wp2">
                            <div class="icon"><i class="fa fa-laptop"></i></div>
                            <h3>Design</h3>
                            <p>Design isn't just what a product looks like and feels like on the outside. Design encompasses the internal functionality of a product as well as the overall user experience. I strive to design interfaces and experiences that people can enjoy on all digital mediums.
                            </p>
                        </div>
                        <div class="col-md-4 wp2 delay-025s">
                            <div class="icon"><i class="fa fa-code"></i></div>
                            <h3>Development</h3>
                            <p>With a strong foundation in computer science, I'm passionate about web design and development, and interested in mobile app development. As I grow as a developer, I hope to write clean, readable code that can be used by others and leveraged to create beautiful software.</p>
                        </div>
                        <div class="col-md-4 wp2 delay-05s">
                            <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
                            <h3>Involvement</h3>
                            <p>At Northeastern, I'm currently the web chair for <a href="http://nuwit.ccs.neu.edu" target="_blank">nuWiT</a> (NU Women in Tech) as well as a Teaching Assistant for the undergrad HCI course. Previously, I've been involved with the club water polo team, the resident student association, and the ski and snowboard club.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>